{# acf-blocks/logos-carousel/template.twig #}
{% set logos = fields.logos ?? [] %}
{% set slider_id = 'logos-carousel-' ~ random() %}

{% if logos %}
<section class="logos-carousel overflow-hidden py-8 bg-white">
  <div
    id="{{ slider_id }}"
    x-data="{
      scrollAmount: 1,
      init() {
        const scroller = this.$refs.track;
        setInterval(() => {
          scroller.scrollLeft += this.scrollAmount;
          if (scroller.scrollLeft + scroller.clientWidth >= scroller.scrollWidth) {
            scroller.scrollLeft = 0;
          }
        }, 30);
      }
    }"
    x-init="init"
    class="relative"
  >
    <div
      x-ref="track"
      class="flex gap-12 items-center whitespace-nowrap overflow-x-auto scroll-smooth no-scrollbar px-6"
    >
      {% for logo in logos %}
        {% if logo.image %}
          <div class="flex-shrink-0 w-32 h-20 flex items-center justify-center">
            <img
              src="{{ logo.image.url }}"
              alt="{{ logo.image.alt }}"
              class="max-h-full max-w-full object-contain"
            />
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
