<section class="py-8 px-4">
  <div class="container mx-auto text-center">
    <blockquote class="border-l-4 border-gray-500 italic pl-4 md:pl-8 py-4 max-w-lg mx-auto">
      <p class="text-lg font-medium">{{ fields.content }}</p>
      <cite class="block text-right mt-4 text-gray-500">- {{ fields.author }}</cite>
    </blockquote>
  </div>
</section>
