<div class="mx-auto max-w-xl text-center">
	{% if title %}
		<h2 class="text-3xl font-bold mb-4">{{ title }}</h2>
	{% endif %}

	{% if text %}
		<p class="text-gray-800 mb-10">{{ text }}</p>
	{% endif %}
</div>
