<header class="mx-auto max-w-2xl text-center mb-12">
	{% if title %}
		<h2 class="text-3xl md:text-4xl font-bold tracking-tight mb-8 text-gray-900">
			{{ title }}
		</h2>
	{% endif %}
	{% if text %}
		<p class="text-base md:text-lg text-gray-600 leading-relaxed">
			{{ text }}
		</p>
	{% endif %}
</header>
