@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hero-block {
    @apply relative bg-cover bg-center py-8 text-white;

    h1 {
      @apply text-3xl md:text-5xl font-bold mb-4;
    }

    p {
      @apply text-lg text-gray-200;
    }

    &::before {
      @apply absolute inset-0 bg-black opacity-50 content-[''] z-0;
    }
  }
}
