{# views/blocks/hero.twig #}
<section
  class="hero bg-cover bg-center py-20 text-white"
  style="background-image:url('{{ background }}')"
>
  <div class="container mx-auto text-center px-6">
    <h1 class="text-5xl font-bold mb-4">{{ title }}</h1>
    <p class="text-xl">{{ subtitle }}</p>
  </div>
</section>
