@layer components {
  .page-numbers {
    @apply font-semibold inline-block text-gray-800 transition-colors;

    &:not(:first-child) {
      @apply ml-2;
    }

    &:not(:last-child) {
      @apply mr-2;
    }

    @apply py-2 px-4 rounded-full hover:bg-gray-100;
  }

  .page-numbers.current {
    @apply bg-black text-white;
  }

  .page-numbers.disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}
