{% extends "base.twig" %}
{% block content %}
	<div class="py-20 text-center">
		<h1 class="text-3xl font-bold text-green-600 mb-4">Paiement confirmé !</h1>
		<p>Merci
			{{ customer.client }}, votre réservation est définitivement validée.</p>
	</div>
{% endblock %}
