{% set items = fields.counters|slice(0, 4) %}
{% set count = items|length %}

<section class="py-16 px-4 my-8 number-counter-block">
	<div class="container mx-auto">
		<div class="flex flex-wrap justify-center justify-items-center gap-6 max-w-5xl mx-auto {% if count == 3 %} md:flex-nowrap {% elseif count == 4 %} md:grid md:grid-cols-2 lg:flex {% endif %}">
			{% for counter in fields.counters %}
				<div class="counter-item relative group p-6 flex flex-col items-center text-center sm:w-5/12 md:w-[220px] bg-gray-50 rounded-lg transition-all duration-300 transform hover:scale-105 hover:shadow-xl hover:bg-gray-50">
					<div class="number text-primary text-4xl font-bold mb-2 z-10 relative" data-count="{{ counter.number }}">
						0
					</div>
					<p class="font-semibold text-lg mb-2 z-10 relative">{{ counter.title }}</p>
					{% if counter.description %}
						<p class="text-gray-600 text-sm z-10 relative">{{ counter.description }}</p>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
</section>
