<section class="py-8 px-4">
	<div class="container mx-auto text-center">
		{% if fields.title or fields.subtitle %}
			{% include 'components/section-header.twig' with {
				title: fields.title,
				text: fields.subtitle
			} %}
		{% endif %}

		{% if fields.shortcode %}
			<div class="contact-form-shortcode">
				{{ fields.rendered|raw }}
			</div>
		{% endif %}
	</div>
</section>
