<section class="py-8 px-4">
	<div class="max-w-xl mx-auto bg-gradient-to-br from-white via-gray-100 to-gray-200 shadow-md rounded-xl p-10">
		<div class="text-center">
			{% if fields.title or fields.subtitle %}
				{% include 'components/section-header.twig' with {
				title: fields.title,
				text: fields.subtitle
			} %}
			{% endif %}
		</div>

		{% if fields.shortcode %}
			<div class="contact-form-shortcode">
				{{ fields.rendered|raw }}
			</div>
		{% endif %}
	</div>
</section>
