<section class="py-8 px-4">
	<div class="container mx-auto text-center">
		{% if fields.title or fields.paragraph %}
			{% include 'components/section-header.twig' with {
				title: fields.title,
				text: fields.paragraph
			} %}
		{% endif %}

		{% if fields.contact_form_shortcode %}
			<div class="contact-form-shortcode">
				{{ fields.contact_form_rendered|raw }}
			</div>
		{% endif %}
	</div>
</section>
